<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 SIAP BERGOTA (https://www.creative-tim.com)
Coded by SIAP BERGOTA

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
<%- contentFor('header') %>
<link href="css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css" />
  <link href="css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <link href="demo/demo.js" rel="stylesheet" />
  <script src="js/plugins/chartist.min.js"></script>

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="img/sidebar-1.jpg">
      <div class="logo"><a href="./dashboard" class="simple-text logo-normal">
          SIAP BERGOTA
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="./dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./tables">
              <i class="material-icons">content_paste</i>
              <p>Daftar Makam</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./pengaturan">
              <i class="material-icons">settings</i>
              <p>Pengaturan</p>
            </a>
          </li>
          <li class="nav-item center">
            <form method="post" action="/logout?_method=DELETE">
              <button type="submit" class="btn btn-danger">
                Keluar
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->



      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                  </div>
                  <p class="card-category">Jumlah Data Makam</p>
                  <h3 class="card-title">1112
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">store</i>
                    <a href="javascript:;">TPU Bergota</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">store</i>
                  </div>
                  <p class="card-category">Jumlah Blok</p>
                  <h3 class="card-title">12</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> TPU Bergota
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                  </div>
                  <p class="card-category">Jumlah Juru Kunci (Pengguna)</p>
                  <h3 class="card-title">75</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> TPU Bergota
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-twitter"></i>
                  </div>
                  <p class="card-category">BIAYA RETRIBUSI makam</p>
                  <h3 class="card-title">Rp. 500.000</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Jumlah Data Jenazah Masuk</h4>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>