<!DOCTYPE html>
<%- contentFor('header') %>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Oops!</title>
</head>

<body>
    <div class="left">
        <img src="img/left_shape.png" alt="">
    </div>
    <div class="mid">

        <div class="mid__content">
            <h1>404</h1>
            <img src="img/404_back_shape.png" class="mid__image" alt="">
            <p>Maaf, halaman yang anda tuju tidak ada.</p>
            <p> Klik tombol dibawah untuk pergi ke Halaman Utama </p>
            <a href="/">Klik Disini</a>
        </div>
        <div class="right">
            <img src="img/right_shape.png" alt="">
        </div>
</body>

</html>