<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
<%- contentFor('header') %>
<style>
    .modal-backdrop {
        z-index: -1;
    }
</style>

<body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="azure" data-background-color="white" data-image="/img/sidebar-1.jpg">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard">
                            <i class="material-icons">dashboard</i>
                            <p>Data Makam</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="./tables">
                            <i class="material-icons">content_paste</i>
                            <p>Daftar Makam</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./pengaturan">
                            <i class="material-icons">settings</i>
                            <p>Pengaturan</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./signOut">
                            <i class="material-icons">login</i>
                            <p>Keluar</p>
                        </a>
                    </li>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="col-md-12">
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Tambah Data Baru
                            </button>

                            <!-- The Modal -->



                        </div>


                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>

                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Dashboard</h4>
                                    <p class="card-category">Data Makam di TPU Bergota</p>
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <div id="tableIPAProv">
                                            <table id="table" data-toggle="table" data-height="480"
                                                data-ajax="ajaxRequest" data-side-pagination="server"
                                                data-pagination="true" data-detail-view="true" data-show-columns="true"
                                                data-show-fullscreen="true" data-buttons-class="primary"
                                                data-detail-formatter="detailFormatter">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Detail Data</h5>
                </div>
                <div class="modal-body">
                    <div class="p-3">
                        <form action="/addData" method="POST">
                            <h3>Data Jenazah</h3>
                            <div class="form-group">
                                <label class="label-control">Nama Lengkap</label>
                                <input type="text" name="namaLengkapJenazah" placeholder="Masukkan Nama Lengkap Jenazah"
                                    class="form-control" required autofocus required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Tanggal Meninggal</label>
                                <input type="date" id="datepicker" name="tanggalMeninggal"
                                    placeholder="Masukkan Tanggal Meninggal" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Tanggal Kubur</label>
                                <input type="date" id="datepicker1" name="tanggalKubur"
                                    placeholder="Masukkan Tanggal Kubur" class="form-control" required>
                            </div>
                            <div class="">
                                <label class="label-control"></label>
                                <br>
                                <label class="radio-inline"><input type="radio" name="jenisKelamin"
                                        value="Laki-laki">Laki-laki</label>
                                <label class="radio-inline"><input type="radio" name="jenisKelamin"
                                        value="Perempuan">Perempuan</label>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Nama Bapak</label>
                                <input type="text" name="namaBapak" placeholder="Masukkan Nama Bapak Jenazah"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Nama Ibu</label>
                                <input type="text" name="namaIbu" placeholder="Masukkan Nama Ibu Jenazah"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Nama Istri/Suami</label>
                                <input type="text" name="namaIstriSuami" placeholder="Masukkan Nama Istri/Suami Jenazah"
                                    class="form-control" required>
                            </div>
                            <h3>Data Makam</h3>
                            <div class="form-group">
                                <label class="label-control">Blok</label>
                                <input type="text" name="blok" placeholder="Masukkan Blok makam" class="form-control"
                                    required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Bagian</label>
                                <input type="text" name="bagian" placeholder="Masukkan Bagian makam"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Petak</label>
                                <input type="text" name="petak" placeholder="Masukkan Petak makam" class="form-control"
                                    required>
                            </div>
                            <h3>Data Penanggung Jawab</h3>
                            <div class="form-group">
                                <label class="label-control">Nama Lengkap</label>
                                <input type="text" name="namaLengkapPenanggungJawab"
                                    placeholder="Masukkan Nama Lengkap Penanggung Jawab" class="form-control" required
                                    autofocus>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Hubungan dengan Jenazah</label>
                                <input type="text" name="hubunganDenganPenanggungJawab"
                                    placeholder="Masukkan Hubungan dengan Jenazah" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Alamat</label>
                                <input type="text" name="alamatPenanggungJawab" placeholder="Masukkan Alamat"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Nomor HP</label>
                                <input type="number" name="nomorhpPenanggungJawab"
                                    placeholder="Masukkan Nomor Handphone" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Kelurahan</label>
                                <input type="text" name="kelurahanPenanggungJawab" placeholder="Masukkan Kelurahan"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label class="label-control">Kecamatan</label>
                                <input type="text" name="kecamatanPenanggungJawab" placeholder="Masukkan Kecamatan"
                                    class="form-control" required>
                            </div>
                            <button class="btn btn-primary btn-block">
                                Tambah Data
                            </button>
                            <button onclick="document.getElementById('myModal').style.display='none'" type="button"
                                class="btn btn-secondary btn-block" data-dismiss="modal">Batal</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>





<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>



<script>
    // your custom ajax request here
    function ajaxRequest2(params) {
        var url = 'https://examples.wenzhixin.net.cn/examples/bootstrap_table/data'
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res)
        })
    }
</script>
<script>
    $("input[required], select[required]").attr("oninvalid",
        "this.setCustomValidity('Masukkan ini tidak boleh kosong')");
    $("input[required], select[required]").attr("oninput", "setCustomValidity('')");

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    }

    function ajaxRequest(params) {
        var url = '/getDataMakam'
        $.get(url + '?' + $.param(params.data)).then(function (res) {
            params.success(res)
            console.log(res)
        })
    }

    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="Edit Data">',
            '<button type="button" class="btn btn-primary">Edit Data</button>',
            '</a>',
            '<a class="remove" href="javascript:void(0)" title="Hapus Data">',
            '<button type="button" class="btn btn-danger">Hapus Data</button>',
            '</a>  ',
        ].join('')
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            $.post('/hapusDataMakam', // url
                row, // data to be submit
                function (data, status, jqXHR) { // success callback
                    alert('You click like action, row: ' + JSON.stringify(row))
                });

        },
        'click .edit': function (e, value, row, index) {

            alert('You click like action, row: ' + JSON.stringify(row))

        }
    }

    function totalTextFormatter(data) {
        return 'Total'
    }

    function totalNameFormatter(data) {
        return data.length
    }

    function totalPriceFormatter(data) {
        var field = this.field
        return '$' + data.map(function (row) {
            return +row[field].substring(1)
        }).reduce(function (sum, i) {
            return sum + i
        }, 0)
    }

    function initTable() {
        $table.bootstrapTable('destroy').bootstrapTable({
            height: 550,
            locale: $('#locale').val(),
            columns: [
                [{
                        field: 'Nama Jenazah',
                        title: 'Nama Jenazah',
                        sortable: true,
                        footerFormatter: totalNameFormatter,
                        align: 'center'
                    },
                    {
                        field: 'Tanggal Meninggal',
                        title: 'Tanggal Meninggal',
                        sortable: true,
                        footerFormatter: totalNameFormatter,
                        align: 'center'
                    },
                    //  {
                    //   field: 'Tanggal Kubur',
                    //   title: 'Tanggal Kubur',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, {
                    //   field: 'Jenis Kelamin',
                    //   title: 'Jenis Kelamin',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, 
                    // {
                    //   field: 'Nama Bapak',
                    //   title: 'Nama Bapak',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, {
                    //   field: 'Nama Ibu',
                    //   title: 'Nama Ibu',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, {
                    //   field: 'Nama Istri/Suami',
                    //   title: 'Nama Istri/Suami',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // },
                    //  {
                    //   field: 'Blok',
                    //   title: 'Blok',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, {
                    //   field: 'Bagian',
                    //   title: 'Bagian',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, {
                    //   field: 'Petak',
                    //   title: 'Petak',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // }, 
                    // {
                    //   field: 'Nama Penanggung Jawab',
                    //   title: 'Nama Penanggung Jawab',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // },
                    //  {
                    //   field: 'Hubungan PJ',
                    //   title: 'Hubungan PJ',
                    //   sortable: true,
                    //   footerFormatter: totalNameFormatter,
                    //   align: 'center'
                    // },
                    {
                        field: 'Nomor Telepon PJ',
                        title: 'Nomor Telepon PJ',
                        sortable: true,
                        footerFormatter: totalNameFormatter,
                        align: 'center'
                    },
                    //  {
                    //   field: 'Alamat PJ',
                    //   title: 'Alamat PJ',
                    //   sortable: true,
                    //   align: 'center',
                    //   footerFormatter: totalPriceFormatter
                    // },
                    // {
                    //   field: 'Kelurahan PJ',
                    //   title: 'Kelurahan PJ',
                    //   sortable: true,
                    //   align: 'center',
                    //   footerFormatter: totalPriceFormatter
                    // },
                    {
                        field: 'Kecamatan PJ',
                        title: 'Kecamatan PJ',
                        sortable: true,
                        align: 'center',
                        footerFormatter: totalPriceFormatter
                    },

                    {
                        field: 'Edit Data',
                        title: 'Edit Data',
                        align: 'center',
                        clickToSelect: false,
                        events: window.operateEvents,
                        formatter: operateFormatter
                    }
                ]
            ]
        })
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                // save your data, here just save the current page
                selections = getIdSelections()
                // push or splice the selections if you want to save all data selections
            })
        $table.on('all.bs.table', function (e, name, args) {
            console.log(name, args)
        })
        $remove.click(function () {
            var ids = getIdSelections()
            $table.bootstrapTable('remove', {
                field: 'id',
                values: ids
            })
            $remove.prop('disabled', true)
        })
    }

    $(function () {
        initTable()
        $('#locale').change(initTable)
    })
</script>